.page-title {
  color: #003366;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.employee-accessory-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px;
}
.clr-row{
  padding: 20px;
}
.employee-card,
.accessory-form-card {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.shadow {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.employee-card h3 {
  color: #003366;
  margin-bottom: 10px;
}

.emp-code {
  color: #0078d7;
  font-weight: 600;
}

.section-title {
  font-weight: 600;
  color: #003366;
  border-left: 4px solid #0078d7;
  padding-left: 10px;
  margin-bottom: 15px;
}

.accessory-form clr-input-container {
  display: block;
  margin: 16px;
  padding: 30px;
}

.form-actions {
  text-align: right;
  margin-top: 15px;
}

.btn-success {
  background-color: #0078d7;
  border: none;
}

.btn-success:hover {
  background-color: #005fa3;
}

.clr-table {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.accessory-table-section {
  margin-top: 40px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 10px 12px;
  text-align: left;
}

.table th {
  background-color: #003366;
  color: white;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}
