.page-title {
  color: #003366;
  
  text-align: center;
margin-top: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  
  margin-top: 9px;
}
#add_btn{
  margin: 10px;
  padding: 5px;
 
}
.Empdetails{
  display: flex;
justify-content: space-evenly;

  
}
.addtitle{
 
  text-align: center;
  margin-top: 2px;

}
clr-datagrid{
  margin: 5px;
  height: 250px;
  overflow-y: auto;
}








.modal-footer{
  margin: 20px;
}
.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}



clr-datagrid button {
  margin-right: 5px;
  
}